%h2{ class: 'content-head is-center' }= 'New Session'

%div{ class: 'pure-g' }
  %div{ class: 'pure-u-1 l-box-lrg' }
    %form{ action: "/customers/#{session.customer_id}/sessions", method: :post, class: 'pure-form pure-form-stacked' }
      %fieldset
        %div{ class: 'pure-control-group' }
          %label{ for: 'price' } Price
          %input{ type: 'number', id: 'price', name: 'session[price]' }
        %div{ class: 'pure-control-group' }
          %label{ for: 'task_id' } Task
          %select{ id: 'task_id', name: 'session[task_id]' }
            - tasks.each do |task|
              %option{ value: task.id }= task.name
        %div{ class: 'pure-controls' }
          %a{ class: 'pure-button', href: "/customers/#{session.customer_id}" } Cancel
          %input{ type: 'submit', class: 'pure-button', value: 'Create' }
