%h2{ class: 'content-head is-center' }= 'New Appointment'
%div{ class: 'pure-g' }
  %div{ class: 'pure-u-1 l-box-lrg' }
    %form{ action: "/customers/#{customer_id}/appointments", method: :post, class: 'pure-form pure-form-stacked', "data-ref": 'customer_appointment_new' }
      %fieldset
        %div{ class: 'pure-control-group' }
          %label{ for: 'starting_at' } Starting at date
          %input{ type: 'datetime-local', name: 'appointment[starting_at]' }
        %div{ class: 'pure-control-group' }
          %label{ for: 'duration' } Duration
          %input{ type: 'number', name: 'appointment[duration]' }
        %div{ class: 'pure-control-group' }
          %label{ for: 'offer_id' } Offer
          %select{ id: 'offer_id', name: 'appointment[offer_id]' }
            - offers.each do |offer|
              %option{ value: offer.id }= offer.name
        %div{ class: 'pure-controls' }
          %a{ class: 'pure-button', href: "/customers/#{customer_id}" } Cancel
          %input{ type: 'submit', class: 'pure-button', value: 'Create' }
