## Front-End
app/assets/node_modules
app/assets/dist

## Primer assets
app/assets/fonts
app/assets/images

## Back-End
/app/public/assets/!*.keep
/spec/examples.txt

## Back-End dependencies
*.sqlite
.aws

## Deploy environment variables
infra/deploy.env
