version: "3.7"
services:
  app:
    build:
      target: test
    volumes:
      - .:/usr/src
      - ./app/assets/dist:/usr/src/app/public/assets
    ports:
      - "3000:3000"
    env_file:
      - ./infra/development.env
