%div{ class: 'Box Box--spacious col-4 mx-auto text-center m-6' }
  %form{ action: '/customers', method: :post }
    %div{ class: 'Box-body' }
      %h3{ class: 'f1-light' } New Customer
      %div{ class: 'form-group mb-4' }
        %div{ class: 'form-group-header' }
          %label{ for: 'name' } Name
        %div{ class: 'form-group-body' }
          %input{ class: 'form-control', type: :text, id: 'name', name: 'customer[name]' }
      %div{ class: 'form-group mb-4' }
        %div{ class: 'form-group-header' }
          %label{ for: 'surname' } Surname
        %div{ class: 'form-group-body' }
          %input{ class: 'form-control', type: :text, id: 'surname', name: 'customer[surname]' }
      %div{ class: 'form-group mb-4' }
        %div{ class: 'form-group-header' }
          %label{ for: 'email' } Email
        %div{ class: 'form-group-body' }
          %input{ class: 'form-control', type: :email, id: 'email', name: 'customer[email]' }
      %div{ class: 'form-group mb-4' }
        %div{ class: 'form-group-header' }
          %label{ for: 'phone' } Phone
        %div{ class: 'form-group-body' }
          %input{ class: 'form-control', type: :tel, id: 'phone', name: 'customer[phone]' }
      %div{ class: 'form-actions mb-4' }
        %button{ type: 'submit', class: 'btn btn-primary' } Create
        %a{ href: '/customers', class: 'btn' } Cancel
