%h2{ class: 'content-head is-center' }Customer Sessions
%div{ class: 'pure-g l-box' }
  %div{ class: 'pure-u-3-4'}
  %div{ class: 'pure-u-1-4' }
    %a{ href: "/customers/#{params['customer_id']}/sessions/new", class: 'pure-button' } New Session
%table{ class: 'pure-table', style: 'margin-left:auto; margin-right:auto' }
  %tr
    %th Task Name
    %th Price
    %th Created At
  - sessions.each do |session|
    %tr
      %td= session.task.name
      %td= session.price
      %td= session.created_at
