%h2 Customer Sessions
%a{ href: "/customers/#{params['customer_id']}/sessions/new" } New Session
%table{ class: 'pure-table' }
  %tr
    %th Task Name
    %th Price
    %th Created At
  - sessions.each do |session|
    %tr
      %td= session.task.name
      %td= session.price
      %td= session.created_at
