@import "@primer/css/index.scss";

.bg-gold {
  background-color: #c8aa71 !important;
}

.text-gold {
  color: #c8aa71 !important;
}

.border-gold {
  border: 1px solid #c8aa71 !important;
}

.link-gold {
  color: #c8aa71 !important;
}
