%html
  %head
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    -#%link{ rel: 'stylesheet', href: '/carpanta.css' }
    %link{ rel: 'stylesheet', href: 'https://unpkg.com/@primer/css/dist/primer.css' }
    %script{ src: '/carpanta.js' }
    %title Welcome to Carpanta
  %body
    %header{ class: 'Header' }
      %div{ class: 'Header-item' }
        %a{ href: '/customers' }
          %img{ class: 'avatar', height: '20', alt: '@octocat', src: 'https://github.com/octocat.png', width: '20' }
      %div{ class: 'Header-item' }
        %a{ href: '/customers', class: 'Header-link' }Customers
    %div
      =yield
    -#%footer{ class: 'position-sticky bottom-0 p-1 bg-gray-dark' }
      Sticky footer
